.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: pink;
    padding: 10px;
}

.dialogsItems .active {
    color: #d73131;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}
